@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

html,body{
  font-family: 'Comfortaa';
}

body{
  margin-bottom: 60px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 380px;
}

.glyphicon-refresh{
  display:none;
  margin-left:4px;
  padding: 1px 4px;
  border-radius: 4px;
  color:#00A0B0;
  background:#fff;
  opacity:0.5;
  transition: opacity 0.3s ease-in-out;
}

.glyphicon-refresh:hover{
  opacity:1;
}

.navbar{
  background-color:#00A0B0;
}

.nav-user{
  display:none;
  padding-top:14px;
  color:#fff;
}

.nav-user span{
  font-weight:bold;
}

.logo{
  font-family: 'Audiowide' !important;
  text-transform: uppercase;
  color:#fff;
}

.logo-l1{
  display:inline-block;
  background-color:#fff;
  text-align:center;
  height:20px;
  width:20px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
  border-radius:75px;
  color:#00A0B0;
  text-align:center;
}

.colors-list li {
  width: 8vw;
  height: 8vw;
  display: inline-block;
  margin: 1vw;
  list-style: none;
  cursor: pointer;
}

.guess-code {
  text-align: center;
}

.guess-code li {
  list-style: none;
  width: 2.8em;
  height: 2.8em;
  margin: 1px;
  display: inline-block;
  background-color: #999;
}

.guess-result li {
  background-color: #CCC;
  border: 1px solid;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
  float: left;
  list-style: none;
  margin: 1px;
}

.guess-result li.exact {
  background-color: #000;
}

.guess-result li.near {
  background-color: #FFF;
}

.guess-result li:nth-child(5) {
  clear: left;
}

.guess-code, 
.guess-result {
    float: left;
    width: 100%;
    height: 4em;
}

.colorR {
  background-color: #e74c3c !important;
}
.colorG {
  background-color: #2ecc71 !important;
}
.colorB {
  background-color: #3498db !important;
}
.colorY {
  background-color: #f1c40f !important;
}
.colorO {
  background-color: #e67e22 !important;
}
.colorP {
  background-color: #9b59b6 !important;
}
.colorC {
  background-color: #1abc9c !important;
}
.colorM {
  background-color: #de6bae !important;
}

#themes {
  margin: 0;
  padding: 0;
}

.theme-icon {
  width: 4em;
  height: 4em;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  background-color: #CCC;
  cursor: pointer;
}

@media (max-width: 767px) {
  .guess-code li {
    width: 2.1em;
    height: 2.1em;
  }
}

@media (min-width: 768px) {
  .colors-list li {
    width: 6vw;
    height: 6vw;
  }  
}

@media (min-width: 992px) {
  .colors-list li {
    width: 5vw;
    height: 5vw;
  }
}

@media (min-width: 1840px) {
  .colors-list li {
    width: 4vw;
    height: 4vw;
  }
}
